<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ДЗ #23-24 | GOIT FE #6</title>
	
	<link rel="stylesheet" href="css/style.css">

    <script data-main="js/app" src="js/require.js"></script>
</head>
<body>

<script type="text/template" id="wrapper-template">
	<div class="wrapper">
		<h1>Ничего не забыл сделать?</h1>
		
		<form action="" method="" class="controls">
			<input class="controls__input" type="text" placeholder="Введите новую задачу">
			<button class="controls__submit" type="submit">Добавить!</button>
		</form>

		<ul class="list"></ul>

	</div>
</script>


<script type="text/template" id="list-template">
	<% for (var i = 0; i < data.length; i++) { %>
		<li data-index="<%= i %>">
			<span class="list__el_text" contenteditable><%= data[i] %></span>
			<i class="list__el_remove fa fa-trash-o" aria-hidden="true"></i>
			<i class="list__el_edit fa fa-pencil-square-o" aria-hidden="true"></i>
		</li>
	<% } %>
</script>

	
</body>
</html>